.button {
    width: fit-content;
    padding: .25rem 2rem;
    border-radius: 15px;
    border: none;
    background-color: var(--green);
}

.button:hover {
    cursor: pointer;
}

.button.cover {
    width: 100%;
}

.button.disabled {
    opacity: .35;
}

.button.disabled:hover {
    cursor: default;
}