.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-25);
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3.2rem;
}

.logoImg {
    height: 4rem;
}

.logo:hover {
    cursor: pointer;
}

.userBadge {
    position: relative;
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .25rem 1rem;
    background-color: var(--green);
    border-radius: 15px;
}

.userBadge:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;
}

.navLink {
    padding: .3rem .25rem;
    border-bottom: 2px solid transparent;
    color: var(--text);
    text-decoration: none;
}

.navLink.active {
    border-color: var(--green-dark);
}

@media (max-width: 1000px) {
    .logo {
        font-size: 2rem;
    }

    .logoImg {
        height: 2rem;
    }
}