:root {
    --green-lighter: #48D900;
    --green-light: #3BB000;
    --green-25: #2B820038;
    --green-50: #2B820081;
    --green: #2B8200;
    --green-dark: #1F5E00;
    --green-darker: #123600;

    --grey-25: #6F7E683A;
    --grey-50: #6F7E6883;
    --grey: #6F7E68;
    
    --white-25: #ffffff38;


    --success: #77D748;
    --warning: #827C00;
    --error: #822700;
    --info: #004E82;

    --text-dark: #0E2900;
    --text: #CBE7BD;
    --text-placeholder: #CBE7BD3A;
    --background: #1E221C;
    --shadow-color: #444643AD;
    --shadow-color-bright: #6B6E69AD;


    --markazi: "Markazi Text", serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
}

.content-font {
    font-family: var(--markazi);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);
    color: var(--text);
    font-family: var(--markazi);
    font-size: 1.4rem;
}

button, input {
    font-family: var(--markazi);
    font-size: 1.4rem;
    color: var(--text);
}

input { 
    outline: none;
}